# Terraform files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Ansible files
*.retry

# Environment files
*.env
secrets.yml

# Local development files
.vscode/
.idea/
*.swp